.tema-event {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.tema-event > div{
    width: 134px;
    height: 103px;
    border: 2px solid var(--input-stroke);
    border-radius: 5px;
    padding: 4px;
}

.tema-event > div > img {
    height: 64px;
    width: auto;
}