#app {
  display: grid;
  grid-template-columns: 25rem auto;
  height: 100vh;
  overflow: hidden;
  gap: 20px;
  background-color: var(--shape-background);
}

aside {
  background: url(../assets/Background.png) no-repeat center center;
  background-size: cover;
  background-position: center;
  padding: 4rem;
}

aside header > img {
  width: 48.5px;
  height: 48px;
  margin-bottom: 5px;
}

aside header .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside header .text h1 {
  color: var(--color-pink);
  font: var(--logo);
}

aside header .text p {
  color: var(--text-heading);
  font: var(--body-sm);
}

main {
  background-color: var(--shape-body);
  padding: 5rem 7.81rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

main section > div {
  display: flex;
  gap: 10px;
}
